@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EShopFanerum.AuthService.Models.RedirectVm
@{
    ViewData["Title"] = "Вход в сервисы Villagio";
}
<h1>Минуточку...</h1>
<div>Вы сейчас будете перенаправлены обратно в приложение (или перейдите <a href="@Model?.RedirectUrl">по этой ссылке</a>).<br />Как только это произойдёт, можете закрыть эту вкладку.</div>
@if (Model?.RedirectUrl?.Length is > 0)
{
    <meta http-equiv="refresh" content="0;url=@Model?.RedirectUrl" data-url="@Model?.RedirectUrl" />
    @section Scripts
    {
        <script src="~/js/signin-redirect.min.js" asp-append-version="true"></script>
    }
}