@model string?
@{
    ViewData["Title"] = "Вход в сервисы Villagio";
}
<h1>
    @(Model?.Length is > 0 ? Model : "Villagio")
    <sub>Вы вошли в сервисы Villagio</sub>
</h1>
<div>
    <form class="sub-container" asp-action="logout" asp-controller="account">
        <button type="submit">Выйти</button>
    </form>
</div>