@{
    ViewData["Title"] = "Выход из сервисов Villagio";
}
@model EShopFanerum.AuthService.Models.Account.LogoutVm
<h1>
    @(Model?.UserName?.Length is > 0 ? Model.UserName : "Fanerum")
    <sub class="logout">Вы действительно хотите выйти из сервиса?</sub>
</h1>
<form class="sub-container" asp-controller="account" asp-action="logoutdo">
    <input type="hidden" asp-for="LogoutId" />
    <button type="submit">Выйти</button>
</form>