@{
    ViewData["Title"] = "Вход в сервисы Villagio";
}
@model EShopFanerum.AuthService.Models.Account.LoginVm
<h1>
    Villagio
</h1>
<div class="err">Слишком много попыток войти в единицу времени, <br />попробуйте ещё раз через десяток-другой минут....</div>