body {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    color: #333;
}

h1 {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 26px;
    color: #333;

    sub {
        display: block;
        margin-top: 40px;
        color: #666;
        font-weight: 200;
        font-size: 16px;

        &.logout {
            color:#a66;
        }
    }
}

.err {
    color: #833;
    margin-bottom:12px;
}

.logo {
    margin-top:30px;
}

input {
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #f4f4f4;
    border-radius: 7px;
    display: block;
    background-color: #f4f4f4;

    &::-webkit-input-placeholder {
        color: #bbb;
    }

    &::-moz-placeholder {
        color: #bbb;
    }

    &:-moz-placeholder {
        color: #bbb;
    }

    &:-ms-input-placeholder {
        color: #bbb;
    }
}

label {
    text-align: left;
    display: block;
    padding-bottom: 8px;
}

.container {
    padding: 10px 20px;
}

.inner-container {
    margin: 0 auto;
    display: inline-block;
    max-width: 340px;
}

button {
    display: block;
    padding: 10px 12px;
    color: #fff;
    border: 3px solid #bcbcbc;
    border-radius: 7px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #bcbcbc;
    cursor: pointer;

    &:hover {
        border: 3px solid #888;
    }

    &:active {
        border: 3px solid #888;
        background-color: #cccccc;
    }
}

.btn {
    display: block;
    padding: 10px 12px;
    color: #fff;
    border: 3px solid #bcbcbc;
    border-radius: 7px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #bcbcbc;
    cursor: pointer;

    &:hover {
        border: 3px solid #888;
    }

    &:active {
        border: 3px solid #888;
        background-color: #cccccc;
    }
}

.sub-container {
    display: flex;
    flex-direction: column;
}

.notes {
    margin-top: 22px;
    color: #666;
    font-weight: 200;
    font-size: 16px;

    a {
        color: #336;        
    }
}

a.back-top {
    color: #336;
    display: block;
    text-align: left;
    margin: 12px 0;
}

a.back-bottom {
    color: #336;
    display: block;
    text-align: center;
    margin: 12px 0;
    padding: 10px;
    border-radius: 7px;
    border: 3px solid #bcbcbc;
}

img.logo {
    border:0;
    margin-top: 30px;
}

.signout {
    display: none;
}

.code {
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    color: #a66;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: break-all;
    line-break: strict;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    cursor: pointer;
}