<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ошибка 500</title>
    <link rel="stylesheet" href="/css/styles.min.css" />
</head>
<body>
    <header></header>
    <main class="container">
        <div class="inner-container">
            <img style="margin-top:30px;" src="/img/bw-icon.png" width="80" height="80" alt="Villagio" />
            <h1>
                AuthService
                <sub>Внутренняя ошибка сервера</sub>
            </h1>
            <div class="err">Сервер не может обработать ваш запрос, мы уже работаем над проблемой...</div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
