@{
    ViewData["Title"] = "Слишком много запросов";
}
<h1>
    AuthService
    <sub>Слишком много запросов</sub>
</h1>
<div class="err">От вас поступает слишком много однотипных запросов, подождите минут 10-20 и попробуйте снова.</div>
